jobs:
  build:
    runs-on: ubuntu-latest
    steps:
     ....
     ....
      - name: Karate DSL Test Reports
        uses: actions/upload-artifact@v2
        if: ${{ always() }}
        with:
          name: Test Reports
          path: | 
            ./target/karate-reports/
            ./target/karate.log
            retention-days: 30
      - name: Notify dedicated teams channel
        if: ${{ success() }}
        uses: jdcargile/ms-teams-notification@v1.3
        with:
          github-token: ${{ github.token }} 
          ms-teams-webhook-uri: ${{ secrets.MSTEAMS_WEBHOOK }}
          notification-summary: API TEST EXECUTION REPORT - SUCCESSFUL
          notification-color: 28a745
          timezone: Europe/Copenhagen
      - name: Notify dedicated teams channel
        if: ${{ failure() }}
        uses: jdcargile/ms-teams-notification@v1.3
        with:
          github-token: ${{ github.token }} 
          ms-teams-webhook-uri: ${{ secrets.MSTEAMS_WEBHOOK }}
          notification-summary:  API TEST EXECUTION REPORT - FAILURE
          notification-color: dc3545
          timezone: Europe/Copenhagen
